.iconeCorBranca {
  color: white;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.divtituloProjeto {
  margin-top: 11%;
}

.tituloProjeto {
  font-size: 2rem;
}

.tituloTime {
  margin-top: 5%;
  margin-right: auto !important;

  margin-left: auto !important;
  float: none !important;
}

.divTituloTime {
  margin-top: 11%;
}

.TituloTime {
  font-size: 2rem;
}

.form-edita-time {
  margin-top: 10%;
}

.divTimeEditar {
  background-color: #c1c7d0;
  /*border: 3px solid #d37624;*/
  border-radius: 7px;
  margin: 15px;
  font-family: Lato;
  -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
  -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
  box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}

.btnEditarTime {
  margin-bottom: 1%;
}

.labelNomeTime {
  margin-top: 1%;
}

form label {
  font-weight: bold;
}

.timeForm {
  margin-top: 5% !important;
}

.btnConvidarParaTime {
  margin-bottom: 1%;
}

.tituloConvidaMembro {
  margin-top: 10px;
  font-family: Lato;
  font-weight: bold;
}

.fundoCinza {
  background: #c1c7d0;
}

.bordaCartao {
  /*border: 3px solid #d37624;  */
  font-family: Lato;
  -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
  -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
  box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}

.kanban-board header {
  height: 54px !important;
}

.pintaPadrao {
  background-color: rgb(235, 239, 64) !important;
}

.pintaImportante {
  background-color: rgb(240, 84, 80) !important;
}

.pintaTarefa {
  background-color: rgb(146, 196, 236) !important;
}

.pintaInspiracao {
  background-color: rgb(118, 239, 64) !important;
}

.dataEntrega {
  bottom: 0;
  width: 49%;
  padding-top: -25px;
  position: relative;
  color: #FFF;
  font-size: smaller;
  margin-top: 0px;
  height: 20px;
  background-color: #DAA520;
  text-align: center;
  border-radius: 5%;
  font-weight: bold;
}

.kanban-item {
  position: relative;
}

.select2-selection__choice {
  float: none !important;
  display: inline-block !important;
}

.fotoColaborador {
  width: 100%;
  height: auto;
}

.fotoColaborador-image {
  bottom: 0;
  overflow: auto;
  max-width: 35px;
  margin: 1px;
  max-height: 35x;
  padding: 0px;
  background-color: #FFF;
  display: inline-block;
  background: #ccc;
  float: right;
  position: relative;
  margin-top: -23px;

}

.adminProjeto {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
}


/* COluna */



/* 
.criar-board {
  width: 250px;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  float: left;
  background: #E2E4E6;
  transition: all 0.3s;
  box-sizing: border-box;
  top: 19px;
  height: 257px;
}

.criar-board-header {
  font-size: 16px;
  padding: 15px;
}

.criar-board-title-board {
  font-weight: 700;
  margin: 0;
  padding: 0;
  display: inline;
}

.criar-board-drag {
  min-height: 200px;
  padding: 20px;
}

.criar-board-item {
  position: relative;
  background: #fff;
  padding: 15px;
  margin-bottom: 20px;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

 */


