.iconeCorBranca {
  color: white;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.divtituloProjeto {
  margin-top: 11%;
}

.tituloProjeto {
  font-size: 2rem;
}

.tituloTime {
  margin-top: 5%;
  margin-right: auto !important;

  margin-left: auto !important;
  float: none !important;
}

.divTituloTime {
  margin-top: 11%;
}

.TituloTime {
  font-size: 2rem;
}

.form-edita-time {
  margin-top: 10%;
}

.divTimeEditar {
  background-color: #c1c7d0;
  /*border: 3px solid #d37624;*/
  border-radius: 7px;
  margin: 15px;
  font-family: Lato;
  -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
  -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
  box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
}

.btnEditarTime {
  margin-bottom: 1%;
}

.labelNomeTime {
  margin-top: 1%;
}

form label {
  font-weight: bold;
}

.timeForm {
  margin-top: 5% !important;
}

.btnConvidarParaTime {
  margin-bottom: 1%;
}

.tituloConvidaMembro{
  margin-top: 10px;
  font-family: Lato;
  font-weight: bold;
}

.fundoCinza  {
  background: #c1c7d0;
}

.bordaCartao{
  /*border: 3px solid #d37624;  */
  font-family: Lato;
  -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
  -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
  box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
}
